body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(20, 19, 19);
    color: white;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
}

main {
    padding: 20px;
}

p {
    font-family: 'Georgia', serif;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: url('bullet.png') no-repeat left center;
    padding-left: 20px;
    margin-bottom: 5px;
}

section {
    margin-top: 20px;
}

div {
    display: inline-block;
    margin: 0 10px;
}

div img {
    width: 300px;
    height: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    transition: opacity 1s ease;
}

div img:hover {
    opacity: 0.7;
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: red;
    text-decoration: none;
    margin: 0 10px;
    transition: color 1s ease;
}

footer a:hover {
    color: green;
}
